section{
    margin-top: 4px;
}
a{
    text-decoration: none;
}
.navSubcat{
    display: flex;
    color: #ff8552;
    font-family: Raleway,sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.botonAtras{
    margin-right: auto;
    margin-left: 12px;
    padding: 12px;
    color: #ff8552;
}
.botonAdelante{
    margin-left: auto;
    margin-right: 12px;
    padding: 12px;
    color: #ff8552;
}
h5{
    font-family: Raleway,sans-serif;
    font-weight: 600;
    color: #2e86ab;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px 24px 24px;
}
h3{
    font-family: Merriweather,serif;
    font-weight: 400;
    color: #2e86ab;
    font-size: 24px;
    line-height: 28px;
    margin: 0px 0px 24px 24px;
}
.fotoSubcategoria{
    display: flex;
    justify-content: center;
    background-image: url("img/fotoSubcategoriaHistoria.jpg");
    background-position: center;
    width: 100%;
    height: 360px;
}
.textoSubcategoria{
    display: flex;
    justify-content: center;
    font-family: Raleway,sans-serif;
    font-weight: 600;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    width: 312px;
    margin: -96px auto 0px auto;

    min-height: 96px;
}
.textoSubcategoria p{
    margin: 24px;
}
.timeline{
    margin: 72px 24px 60px 24.5px;
    background-image: url(img/line.png);
    background-repeat: repeat-y;
    background-position:23px 0px;
    overflow: auto;
    margin-bottom: 60px;
}
.eventTimeline{
    display: flex;
}
.lastEvent{
    background-color: white;
}
.timeline span {
    display:block;
    position: absolute;
    background: #EC4E20;
    margin-left: 18px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
}
.textoTimeline{
    font-family: Raleway,sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 52px;
    margin-bottom: 52px;
}
.eventTimeline h5{
    line-height: 16px;
    margin-left: 52px;
    margin-top: 0px;
    margin-bottom: 6px;
}
.bannerContacto{
    background-image: url("img/fotobannercontacto.jpg");
    background-position: center;
    width: 100%;
    height: 360px;
    margin-bottom: 12px;
}
.gradient{
    width: 100%;
    height: 360px;
    background-image: linear-gradient(to bottom,rgba(0, 0,0,0.75),rgba(0, 0, 0,0));
}
.tituloBanner{
    font-family: Merriweather,serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 24px;
    width: 312px;
    margin: 0px 0px 0px 24px;
    padding-top: 24px;
}
.textoBanner{
    font-family: Raleway,sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px 0px 24px;
}
.button{
    height: 48px;
    width: 121px;
    background: linear-gradient(to bottom, #ff5d2e, #ec4e20);
    border-radius: 50px;
    border: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,0.25);
    margin: 24px 0px 0px 24px;
}
.bannerContacto a{
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 0px 6px 0px 6px;
    text-decoration: none;
}

















































