html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0px;
}
.itemRight{
    font-weight: bold;  
    margin-left: 50px;
}
h1{
    height: 28px;
    width: 312px;
    color: #2E86AB;
    font-family: Merriweather;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 24px;
    margin-left: 24px;
}
.imgmision{
    height: 360px;
    width: 360px;
    margin-top: 20px;
}
.frase{
    width: 312px;
    position: relative;
    margin-top: -100px;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    background-color: white; 
    margin-left: 24px;
    padding: 24px;
}
.mision .title{
    display: block;
    height: 24px;
    width: 71px;
    color: #2E86AB;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 48px;
    margin-left: 24px;
}
.mision .texto{
    height: 120px;
    width: 313px;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 24px;
}
.respetomobile{
    margin-top: 122px;
}
.puzzle{
    display: flex;
    position: relative;
    margin-top:-239px;
}
.vision .title{
    margin-top: 129px;
    margin-left: 24px;
    height: 24px;
    width: 65px;
    color: #2E86AB;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.texto{
    
    list-style-type: disc;
}
.texto li {
    margin-bottom: 24px;
}
.vision .texto{
    height: 456px;
    width: 313px;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}
.valores .title{
    margin-top: 48px;
    margin-left: 24px;
    height: 24px;
    width: 76px;
    color: #2E86AB;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px; 
}
.valores .texto{
    margin-top: 24px;
    height: 240px;
    width: 313px;
    color: #000000;
    font-family: Raleway;
    font-size: 16px;
    line-height: 24px;
}
.fotomision{
    background-image: url(img/mision.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 360px;
}
.gradient{
    background-image: linear-gradient(to bottom,rgba(0, 0,0,0.75),rgba(0, 0, 0,0));
    width: 100%;
    height: 360px;
}
.texto2{
    height: 360px;
    width: 360px;
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 48px;
    padding: 24px 41px 24px 24px;
}
.informate{
    margin-left: 24px;
    margin-top: -270px;
    height: 24px;
    width: 295px;
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}
.botton2{
    height: 48px;
    width: 121px;
    background: linear-gradient(to bottom, #ff5d2e, #ec4e20);
    border-radius: 50px;
    border: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,0.25);
    margin-top: 24px;
    margin-left: 24px;
}
.botton2 a{
    text-decoration: none;
    color: #FFFFFF;
}
.minimenufooter{
    display: flex;
    flex-wrap: wrap;
    color: #FF8552;
    font-family: Raleway;
    font-size: 12px;
    line-height: 16px;
    margin-top: 25px;
}
.minimenufooter a{
    color: #FF8552;
    text-decoration: none;
}
.Historia{
    margin-left: 16px;
    margin-right: 220px;
}
.footer{
    margin-top: 33px;
}
.bannerContacto{
    background-image: url("img/fotobannercontacto.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 360px;
    margin-bottom: 12px;
}
.gradient{
    width: 100%;
    height: 360px;
    background-image: linear-gradient(to bottom,rgba(0, 0,0,0.75),rgba(0, 0, 0,0));
}
.tituloBanner{
    font-family: Merriweather,serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 24px;
    width: 312px;
    margin: 0px 0px 0px 24px;
    padding-top: 24px;
}
.textoBanner{
    font-family: Raleway,sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px 0px 24px;
}
.button{
    height: 48px;
    width: 121px;
    background: linear-gradient(to bottom, #ff5d2e, #ec4e20);
    border-radius: 50px;
    border: transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0,0.25);
    margin: 24px 0px 0px 24px;
}
.bannerContacto a{
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    color: white;
    padding: 0px 6px 0px 6px;
    text-decoration: none;
}
    