.p1{
    background-image: url(https://unsplash.it/1000/500?random&cache=1);
}

.fotoActividad{

    height: 385px;
    background-size: cover;
    background-position: center;
}

.descripcionActividad{
    background-color: #CDF7EF;
    margin-bottom: 4.5rem;
}

.textDescripcionActividad{
    font-weight: bold;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.tituloDescrip2{
    font-size: 2rem;
    line-height: 2.5rem;
}

.datoIcon{
    height: 1.5rem;
    margin-left: 1.5rem;
}

.datoTitle{
    text-transform: uppercase;
    font-weight: bold;
    color: $c-green2;
}

.datosActividadTitle, .datoTitleVolunt{
    color: $c-green2;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    text-transform: none;
}

.datoDescripcion{
    margin-bottom: 1.5rem;
}

.datosActividadWrap{
    padding-bottom: 4.5rem;
}

.tituloDescrip2{
    margin-bottom: 0.75rem;
}




@media only screen and (min-width: $MQ-M){
    .textDescripcionActividad{
        max-width: 512px;
        margin-left: calc(50% - 512px);
        padding-left: 1.5rem;
    }

    .datosActividadWrap{
        max-width: 1024px;
        margin: auto;
        padding-left: 1.5rem;
        display: flex;
        justify-content: space-between;
    }

    .bloqueDatos1, .bloqueDatos2{
        width: 50%;
        margin-right: 4.5rem;
    }

    .datoIcon{
        margin-left: 0px;
    }

}