/*.header{
    position: absolute;
    z-index: 3;
}

.texto-intro{
    padding-top: 6rem;
    position: absolute;
    z-index:2;
}

.foto-intro{
    position: absolute;
    z-index:1;
}*/

.intro-home{
    background-color: hotpink;

}