html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
*{
    margin: 0px;
}
.itemRight{
    font-weight: bold;  
    margin-left: 50px;
}
.avion{
    margin-top: 24px;
    margin-left: 24px;
    height: auto;
    width: 80.3px;
}
h1{
    height: 24px;
    color: #2E86AB;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 24px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}
.title enlance{
    font-family:raleway, sans-serif;
    font-size: 16px;
    margin-left:40px;
    margin-top: 20px;
} 
p.name{
    display: block;
    flex-wrap:left;
    font-family: raleway, sans-serif;
    font-size: 16px;
    margin: 0px;
}
.subtitulo{
    height: 192px;
    width: 312px;
    color: #000000;
    font-family: Merriweather;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 20px;
}
.mision{
    display: block;
    height: 360px;
    width: 360px;
    background-image: url(img/misionmobile.jpg);
    background-repeat: no-repeat;
}
.mision a{
    text-decoration: none;
}
.equipo a{
    text-decoration: none;
}
.historia a{
    text-decoration: none;
}
.titlemision{
    display: flex;
    color: #FFFFFF;
    font-family: Merriweather; 
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 261px 0px 0px 24px;
    margin-top: 24px;
}
.enlancemision{
    display: flex;
    position: relative;
    height: 24px;
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 13px;
    margin-left: 24px;
}
.flechamision{
    display: flex;
    height: 24px;
    width: 24px;
    margin-left: 336px;
    margin-top: -26px;
    background-color: white;
    justify-content: flex-end;
}
.equipo{
    display: block;
    margin-top: 12px;
    height: 360px;
    width: 360px;
    background-image: url(img/equipomobile.jpg);
    background-repeat: no-repeat;
}
.flechaequipo{
    display: flex;
    height: 24px;
    width: 24px;
    margin-left: 336px;
    margin-top: -26px;
    background-color: white;
    justify-content: flex-end;
}
.titleequipo{
    position: relative;
    color: #FFFFFF;
    font-family: Merriweather; 
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 241px 24px 0px;
}
.enlanceequipo{
    position: relative;
    height: 24px;
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 19px;
    margin-left: 24px;
}
.historia{
    display: block;
    margin-top: 12px;
    height: 360px;
    width: 360px;
    background-image: url(img/historiamobile.jpg);
    background-repeat: no-repeat;
}
.flechahistoria{
    display: flex;
    height: 24px;
    width: 24px;
    margin-left: 336px;
    margin-top: -26px;
    background-color: white;
    justify-content: flex-end;
}
.titlehistoria{
    position: relative;
    color: #FFFFFF;
    font-family: Merriweather; 
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 240px 24px 0px;
}
.enlancehistoria{
    position: relative;
    height: 24px;
    width: 234px;
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 24px;
}