*{margin: 0px;}

.transparenciaFoto{
    position: absolute;
    z-index:2;
    height: 24rem;
    width: 100%;
    background-color: black;
    opacity: .3;
}
@media only screen and (min-width: $MQ-L){
    .transparenciaFoto{
        height: 24rem;
    }
}
.cabeceraCategoria{
    background-image: url(../img/foto_conocenos.jpg);
    height: 24rem;
    background-size: cover;
    background-position: center;
    z-index:1;
    margin-bottom: 3rem;
}
.cabeceraCategoriaColor{
    display: flex;
    background:$c-blue2;
    height: 20rem;
    background-position: center;
    z-index:1;
    margin-bottom: 3rem;
}
@media only screen and (min-width: $MQ-L){
    .cabeceraCategoriaColor{
        height: 21rem;
    }
}
.textos-subcategoria{
    margin-top:45px;
}
.gradient{
    width: 100%;
    height: 385px;
    background-color: rgba(0, 0, 0, 0.5);
}

.textosCategoria{
    color: white;
    z-index: 3;
    position: absolute;
}
@media only screen and (min-width: $MQ-L){
    .textosCategoria{
        margin-left: 8rem;
    }
}

.tituloCategoria{
    padding-top: 120px;
}
@media only screen and (min-width: $MQ-L){
    .tituloCategoria{
        margin-left: 8rem;
    }
}


.bloque-cabecera{
    background-image: url(img/fotocontacto.jpg);
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-origin: content-box, padding-box;
}

.titulo-cabecera{
    font-family: Raleway, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: bold;
    display: flex;
    position: absolute;
    margin-top: 199px;
    margin-left: 24px;
}
.parrafo-cabecera{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    display: flex;
    position: absolute;
    margin-top: 264px;
    margin-left: 24px;
    width: 294px;
}

@media only screen and (min-width: $MQ-M){
    .textosCategoria{
        max-width: 1024px;
        margin: auto;
    }

    .descripcionCategoria{
        max-width: 50%;
    }
}
@media only screen and (min-width: $MQ-L){
    .descripcionCategoria{
        max-width:80%;
        margin-left: 8rem;
    }
}