
.bloque1-subcategoria{
    color: white;
}

.detalle-subcategoria{
    padding-left: 1.5rem;
    display: flex;
}

.pictograma{
    height: 3rem;
    margin-top: 1.5rem;
}

.titulo-subcategoria{
    margin-top: -1.5rem;
}

.textos-subcategoria{
    margin-left: -0.75rem;
}


/*Backgrounds bloque subcategoria*/
.equipo{background-color:$c-blue4;}
.historia{background-color:$c-blue5;}
.amigos{background-color:$c-green1;}
.educar{background-color:$c-green2;}
.pequeños{background-color:$c-green3;}
.formacion{background-color:$c-green4;}
.becas{background-color:$c-green5;}
.navidad{background-color:$c-green1;}
.niño{background-color:$c-green2;}
.escapada{background-color:$c-green3;}