$c-orange1:#FF8552;
$c-orange2:#FF7941;
$c-orange3:#FF6D30;
$c-orange4:#FF611F;
$c-orange5:#FF550E;
$c-orange6:#FC4A00;

$c-blue1:#3290B8;
$c-blue2:#2A7C9E;

$c-green1:#3AA08D;
$c-green2:#359482;

$c-grey1: #444343;
$c-grey2: #292828