$c-orange1:#FF8552;
$c-orange2:#FF7941;
$c-orange3:#FF6D30;
$c-orange4:#FF611F;
$c-orange5:#FF550E;
$c-orange6:#FC4A00;

$c-blue1:#5BAFD3;
$c-blue2:#4EA9CF;
$c-blue3:#40A2CC;
$c-blue4:#359BC6;
$c-blue5:#3290B8;
$c-blue6:#2A7C9E;

$c-green1:#5BC3B0;
$c-green2:#4EBFAA;
$c-green3:#43B9A3;
$c-green4:#3FAD98;
$c-green5:#3AA08D;
$c-green6:#359482;