p{
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    margin-bottom: 27px;
    width: 311px;
}
h1{
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    width: 246px;
    margin-left: 24px;
    margin-bottom: 39px;
}
h3{
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    width: 296px;
    margin-bottom:12px;
    margin-left: 24px;
}